.dashboard {
  margin: 5vh;
}

h1 {
  font-size: 3rem;
}

.label {
  display: block;
  margin-top: 3rem;
}

.input {
  font-size: 2rem;
  width: 100%;
  max-width: 30ch;
  padding: 0.2em;
}

.result {
  margin-top: 3rem;
}
